{:source-paths ["src"
                ; "repl-tooling/src" "repl-tooling/test"
                ; "repl-tooling/orbit/src" "repl-tooling/orbit/test"
                "tango/src"
                "sci.configs/src"
                "repl-tooling/resources"]

 :dependencies [[check "0.2.2-SNAPSHOT"]

                ;; Tango dependencies
                [reagent "1.2.0"]
                [org.babashka/sci "0.8.40"]
                [link.szabo.mauricio/duck-repled "2024-02-12.04.17"]]

 :builds
 {:dev {:target :node-library
        :js-options {:js-provider :shadow
                     :keep-native-requires true
                     :keep-as-require #{"atom"}}

        :dev {:closure-defines {lazuli.aux/TESTS true
                                com.wsscode.pathom.misc.INCLUDE_SPECS false}}
        :compiler-options {:warnings {:fn-deprecated false}}
        :exports {:deactivate lazuli.core/deactivate

                  :config lazuli.core/config
                  :commands lazuli.core/commands
                  :aux lazuli.ui.atom/aux
                  ; :repl lazuli.repl/exports

                  :everything-provider
                  lazuli.providers-consumers.everything/activate

                  :autocomplete-provider
                  lazuli.providers-consumers.autocomplete/provider

                  :status-bar-consumer
                  lazuli.providers-consumers.status-bar/activate

                  :symbol-provider
                  lazuli.providers-consumers.symbols/provider

                  :lsp-consumer
                  lazuli.providers-consumers.lsp/activate}

        :output-dir "lib/js"
        :output-to "lib/cmds.js"
        :devtools {:preloads []}}}};orbit.serializer-test
                              ;flow-storm.api
