{:source-paths ["src" "test"
                ; "repl-tooling/src" "repl-tooling/test"
                ; "repl-tooling/orbit/src" "repl-tooling/orbit/test"
                "tango/src"
                "saphire/src"
                "sci.configs/src"
                "repl-tooling/resources"]

 :dependencies [[check "0.2.2-SNAPSHOT"]

                ;; Tango dependencies
                [reagent "1.2.0"]
                [org.babashka/sci "0.8.40"]
                [link.szabo.mauricio/duck-repled "2024-11-21.02.25"]]

                ;; Debug
                ; [com.wsscode/pathom-viz-connector "RELEASE"]]

 :builds
 {:dev {:target :node-library
        :js-options {:js-provider :shadow
                     :keep-native-requires true
                     :keep-as-require #{"atom"}}

        :dev {:closure-defines {lazuli.aux/TESTS true
                                com.wsscode.pathom.misc.INCLUDE_SPECS false}}
        :compiler-options {:warnings {:fn-deprecated false
                                      :redef false
                                      :redef-in-file false}
                           :output-feature-set :es-next}
        :exports {:deactivate lazuli.core/deactivate

                  :config lazuli.core/config
                  :commands lazuli.core/commands
                  :aux lazuli.ui.atom/aux
                  ; :repl lazuli.repl/exports

                  :autocomplete-provider
                  lazuli.providers-consumers.autocomplete/provider

                  :status-bar-consumer
                  lazuli.providers-consumers.status-bar/activate

                  :symbol-provider
                  lazuli.providers-consumers.symbols/provider}

        :output-dir "lib/js"
        :output-to "lib/cmds.js"
        :devtools {:preloads []}}

  :tests {:target :node-script
          :main lazuli.core-test/run-tests
          :compiler-options {:warnings {:fn-deprecated false}
                             :load-tests true}
          :output-to "lib/tests.js"}}}
