'atom-workspace atom-text-editor:not([mini])':
  'ctrl-d': 'lazuli:doc-for-var'
  'ctrl-c': 'lazuli:break-evaluation'
  'shift-enter': 'lazuli:evaluate-block'
  'ctrl-enter': 'lazuli:evaluate-top-block'

'atom-workspace atom-text-editor:not([mini]):not(.vim-mode-plus)':
  'ctrl-alt-shift-down': 'lazuli:go-to-var-definition'
  'ctrl-shift-c': 'lazuli:clear-console'
  'ctrl-shift-r': 'lazuli:clear-inline-results'

'atom-workspace atom-text-editor.has-selection':
  'ctrl-enter': 'lazuli:evaluate-selection'

'atom-workspace atom-text-editor.vim-mode-plus.visual-mode':
  'space space': 'lazuli:clear-inline-results'

'atom-workspace atom-text-editor.vim-mode-plus.normal-mode':
  'g f': 'lazuli:go-to-var-definition'
  'space l': 'lazuli:clear-console'
  'space a': 'lazuli:load-file'
  'space t': 'lazuli:run-tests-in-ns'
  'space space': 'lazuli:clear-inline-results'
